.pibble {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* referência para a sujeira */
}

.pibble img {
    z-index: 1;
}
.soap {
    position: flex;
    width: 80px;
    height: 80px;
    cursor: grab;
    z-index: 2; /* sempre por cima */
}

.shower {
    position: flex;
    width: 80px;
    height: 80px;
    cursor: grab;
    z-index: 2;   
}

.dirt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


.bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
}
.water {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
}

.utensils {
        position: fixed;
        bottom: 20px;
        left: 50%;
        display: flex;
        gap: 50px;
        transform: translateX(-50%);
        z-index: 3;
        
    
}

.utensils img {
    width: 80px;
    height: 80px;
    cursor: grab;
    user-select: none;
}
